
{% extends 'base.html' %}

{%block title%}
  FINANCIALS Page
{% endblock %}

{% block content %}


<br>
<br>



    <div class="container">
<div class="table">


    <div class="pharmacyupper">
        <h1 style="padding-left:10px!important; padding-top:10px!important;">Generate Reports</h1>

    </div>

    <table>
        <br>
        <thead>
            <tr>

                <th>Name</th>
                <th>From</th>
                <th>To</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr>
              <form action="">
                <td>Financial Report</td>

              <td>
              <input type="date" class = 'form-control'></td>
                <td>
              <input type="date" class = 'form-control'></td>
                <td><img class="actions1" src="./static/view.png" alt="" data-toggle="tooltip" data-placement="top" title="View Report">
                </td>
</form>
            </tr>
            <tr>
              <form action="">
                <td>Financial Report</td>

              <td>
              <input type="date" class = 'form-control'></td>
                <td>
              <input type="date" class = 'form-control'></td>
                <td><img class="actions1" src="./static/view.png" alt="" data-toggle="tooltip" data-placement="top" title="View Report">
                </td>
</form>
            </tr>
            <tr>
              <form action="">
                <td>Financial Report</td>

              <td>
              <input type="date" class = 'form-control'></td>
                <td>
              <input type="date" class = 'form-control'></td>
                <td><img class="actions1" src="./static/view.png" alt="" data-toggle="tooltip" data-placement="top" title="View Report">
                </td>
</form>
            </tr>
            <tr>
              <form action="">
                <td>Financial Report</td>

              <td>
              <input type="date" class = 'form-control'></td>
                <td>
              <input type="date" class = 'form-control'></td>
                <td><img class="actions1" src="./static/view.png" alt="" data-toggle="tooltip" data-placement="top" title="View Report">
                </td>
</form>
            </tr>




        </tbody>
    </table>



</div>

    </div>

  
{% endblock %}