{% extends 'base.html' %}

{% block title %}
  Medicine Page
{% endblock %}

{% block content %}
<body>
  <script>
    function doMath() {
            var market = document.getElementById('marketBox').value
            var subsidy = document.getElementById('subsidyBox').value
            var qty = document.getElementById('quanBox').value
            var sales = market - (market * subsidy/100)
            var unitSales = sales/qty
            // var rValue = Math.round(unitSales)
            var subValue = (1-(sales/market))*100
            document.getElementById('salesBox').value = Math.round(sales,2)
            document.getElementById('unitSales').value = Math.round(unitSales,2)
            // document.getElementById('subsidyBox').value = subValue
            }
  </script>
  <div class = 'container p-5'>
      <form id = 'my-form' method = 'post' class = 'form-register p-5' style = 'color: black; background:white;'>
          
        <h3>Add Medicine</h3>
          {{ form.hidden_tag() }}
        
          <br>
        
          <div class = row>
            <div class = 'col-md-4'>
          {{ form.id.label() }}*
          {{ form.id(class = 'form-control', placeholder = 'Batch ID' )}}
          
        </div>
          <div class = 'col-md-4'>
          {{ form.cName.label() }}*
          <!-- {{ form.cName(class = 'form-control', placeholder = 'Product Name', onchange = "{{ form.submit }}.click()") }} -->
          {{ form.cName(class = 'form-control', placeholder = 'Product Name') }}
          </div>

          <div class = 'col-md-4'>
          {{ form.gName.label() }}*
          {{ form.gName(class = 'form-control', placeholder = 'Supplier Name' ) }}
          </div>

        </div>
        
        <br>

        <div class="row">
          <div class = 'col-md-4'>
            {{ form.genName.label() }}*
            {{ form.genName(class = 'form-control', placeholder = 'Generic Name' ) }}
            </div>
            <div class = 'col-md-4'>
              {{ form.compName.label() }}*
              {{ form.compName(class = 'form-control', placeholder = 'Company Name' ) }}
              </div>
              <div class = 'col-md-4'>
                {{ form.cat.label() }}*
                {{ form.cat(class = 'form-control', placeholder = 'Category' ) }}
                </div>
        </div>
        <br>
        
        <div class = 'row'>
          <div class = 'col-md-3'>
            {{ form.date.label() }}*
            {{ form.date(class = 'form-control', placeholder = 'Date Added', readonly = true)}}
          </div>
          <div class="col-md-3">
          {{ form.expiry.label() }}*
          {{ form.expiry(class = 'form-control', placeholder = 'Expiry Date' ) }}
          </div>
          <div class="col-md-3">
            {{ form.entry.label() }}*
            {{ form.entry(id = 'quanBox' ,class = 'form-control', placeholder = 'Stock Qty' ) }}
            </div>

            <div class="col-md-3">
              {{ form.drug.label() }}*
              {{ form.drug(class = 'form-control', placeholder = 'Drug Type' ) }}
              </div>

        
        </div>
        <br>
        
        <div class="row">

          <div class = 'col-md-3'>
            {{ form.market.label() }}*
            {{ form.market(id = "marketBox", class = 'form-control', placeholder = 'Market Price') }}
            </div>

          <div class = 'col-md-2'>
          {{ form.purchase.label() }}*
          {{ form.purchase(id = "purchaseBox", class = 'form-control', placeholder = 'Purchase Price' ) }}
          </div>
            
          <div class = 'col-md-2'>
            {{ form.subsidy.label() }}*
            {{ form.subsidy(id = "subsidyBox", class = 'form-control', placeholder = 'Subsidy Percentage', onchange = 'doMath()') }}
            </div>
            <div class="col-md-2">
              {{ form.unitSales.label() }}*
              {{ form.unitSales(id = "unitSales", class = 'form-control', placeholder = 'Unit Sale Price') }}
            </div>
            <div class = 'col-md-3'>
              {{ form.sales.label() }}*
              {{ form.sales(id = "salesBox", class = 'form-control', placeholder = 'Sale Price') }}
              </div>
            </div>
            <br>
            <!-- <div class="row">
              <div class = 'col-md-4'>
              {{ form.sales.label() }}*
              {{ form.sales(id = "salesBox", class = 'form-control', placeholder = 'Sale Price') }}
              </div>
              
            </div> -->
        

        <br>
        <br>
    
          <button type="button" class="btn1 btn btn-lg btn-success" data-toggle="modal" data-target="#exampleModal">
            Submit
          </button>

          <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="color: Black;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adding Medicine..</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to save changes?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        {{ form.submit(class = 'btn btn-primary') }}
      </div>
    </div>
  </div>
</div>   
      </form>
  </div>
  <script>
    // Get a reference to the SelectField
    var selectField = document.getElementById("{{ form.cName.id }}");
    console.log('Working');
  
    // Attach an event listener to the SelectField that submits the form when changed
    selectField.addEventListener("change", function() {
      document.getElementById("{{ form.submit.id }}").click();
      // document.getElementById("my-form").submit();
    });
  </script>
</body>
{% endblock %}