
{% extends 'base.html' %}
{%block title%}
  Patient page
{% endblock %}

{% block content %}


<br>
<br>


    <div class="container">
<div class="table">


    <div class="pharmacyupper">
        <h1>Pending Patients</h1>

    </div>

    <table>
        <br>
        <thead>
            <tr>
                <th>MRN</th>
                <th>Name</th>
                <th>Father's Name</th>
                <th>Date of Birth</th>
                <th>Doctor</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Free</td>
                <td><img  class="record" src="./static/admin.png" alt="alt" >Mohammad Ali</td>
                <td>xyz</td>
                <td>23/12/2021</td>
                <td>Dr.Ibrar</td>
                <td><img class="actions" src="./static/preview.png" alt="" data-toggle="tooltip" data-placement="top" data-html="true" title ="Preview">
                    <img  class="actions" src="./static/checkout.png" alt="" data-toggle="tooltip" data-placement="top" title="Checkout">
                <img class="actions1" src="./static/view.png" alt="" data-toggle="tooltip" data-placement="top" title="View">
                </td>

            </tr>
        <tr>
                <td>Free</td>
                <td><img  class="record" src="./static/admin.png" alt="alt" >Mohammad Ali</td>
                <td>xyz</td>
                <td>23/12/2021</td>
                <td>Dr.Ibrar</td>
                <td><img class="actions" src="./static/preview.png" alt="" data-toggle="tooltip" data-placement="top" data-html="true" title ="Preview">
                    <img  class="actions" src="./static/checkout.png" alt="" data-toggle="tooltip" data-placement="top" title="Checkout">
                <img class="actions1" src="./static/view.png" alt="" data-toggle="tooltip" data-placement="top" title="View">
                </td>

            </tr>
        <tr>
                <td>Free</td>
                <td><img  class="record" src="./static/admin.png" alt="alt" >Mohammad Ali</td>
                <td>xyz</td>
                <td>23/12/2021</td>
                <td>Dr.Ibrar</td>
                <td><img class="actions" src="./static/preview.png" alt="" data-toggle="tooltip" data-placement="top" data-html="true" title ="Preview">
                    <img  class="actions" src="./static/checkout.png" alt="" data-toggle="tooltip" data-placement="top" title="Checkout">
                <img class="actions1" src="./static/view.png" alt="" data-toggle="tooltip" data-placement="top" title="View">
                </td>

            </tr>
        <tr>
                <td>Free</td>
                <td><img  class="record" src="./static/admin.png" alt="alt" >Mohammad Ali</td>
                <td>xyz</td>
                <td>23/12/2021</td>
                <td>Dr.Ibrar</td>
                <td><img class="actions" src="./static/preview.png" alt="" data-toggle="tooltip" data-placement="top" data-html="true" title ="Preview">
                    <img  class="actions" src="./static/checkout.png" alt="" data-toggle="tooltip" data-placement="top" title="Checkout">
                <img class="actions1" src="./static/view.png" alt="" data-toggle="tooltip" data-placement="top" title="View">
                </td>

            </tr>
        <tr>
                <td>Free</td>
                <td><img  class="record" src="./static/admin.png" alt="alt" >Mohammad Ali</td>
                <td>xyz</td>
                <td>23/12/2021</td>
                <td>Dr.Ibrar</td>
                <td><img class="actions" src="./static/preview.png" alt="" data-toggle="tooltip" data-placement="top" data-html="true" title ="Preview">
                    <img  class="actions" src="./static/checkout.png" alt="" data-toggle="tooltip" data-placement="top" title="Checkout">
                <img class="actions1" src="./static/view.png" alt="" data-toggle="tooltip" data-placement="top" title="View">
                </td>

            </tr>

        </tbody>
    </table>



</div>

    </div>








{% endblock %}