{% extends 'base.html' %}

{%block title%}
  SWMC page
{% endblock %}

{% block content %}


<br>
<br>
<br>


 <div class="container" >
<div class="table" >


    <div class="pharmacyupper">
        <h1 style="padding-left:10px!important; padding-top:10px!important;">Patient List</h1>

    </div>

    <table>
        <br>
        <thead>
            <tr>
                <th>MRN</th>
                <th>Name</th>
                <th>Sur Name</th>
                <th>Date of Birth</th>
                <th>CNIC</th>
               <th>Gender</th>
              <th>Phone No</th>
               <th>Address</th>
              <th>Free</th>
               <th>Group No</th>
              <th>Fundings</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Free</td>
                <td>Mohammad Ali</td>
               <td>xyz</td>
                <td>23/12/2021</td>
                <td>Dr.Ibrar</td>
                <td>Dr.Ibrar</td>
                <td>Free</td>
                <td>Mohammad Ali</td>
                <td>xyz</td>
                <td>23/12/2021</td>
                <td>Dr.Ibrar</td>
                <td><img  class="actions" src="./static/register.png" alt="" data-toggle="tooltip" data-placement="top" title="Register">
                <img class="actions1" src="./static/edit.png" alt="" data-toggle="tooltip" data-placement="top" title="Edit">

            </tr>
        <tr>
                <td>Free</td>
                <td>Mohammad Ali</td>
                <td>xyz</td>
                <td>23/12/2021</td>
                <td>Dr.Ibrar</td>
                <td>Dr.Ibrar</td>
                <td>Free</td>
                <td>Mohammad Ali</td>
                <td>xyz</td>
                <td>23/12/2021</td>
                <td>Dr.Ibrar</td>
                <td><img  class="actions" src="./static/register.png" alt="" data-toggle="tooltip" data-placement="top" title="Register">
                <img class="actions1" src="./static/edit.png" alt="" data-toggle="tooltip" data-placement="top" title="Edit">
                </td>

            </tr>
        <tr>
                <td>Free</td>
                <td>Mohammad Ali</td>
                <td>xyz</td>
                <td>23/12/2021</td>
                <td>Dr.Ibrar</td>
                <td>xyz</td>
                <td>23/12/2021</td>
                <td>Dr.Ibrar</td>
                <td>Dr.Ibrar</td>
                <td>Free</td>
                <td>Mohammad Ali</td>
               <td><img  class="actions" src="./static/register.png" alt="" data-toggle="tooltip" data-placement="top" title="Register">
                <img class="actions1" src="./static/edit.png" alt="" data-toggle="tooltip" data-placement="top" title="Edit">
                </td>

            </tr>
        <tr>
                <td>Free</td>
                <td>Mohammad Ali</td>
                <td>xyz</td>
                <td>23/12/2021</td>
                <td>Dr.Ibrar</td>
                <td>Dr.Ibrar</td>
                <td>Free</td>
                <td>Mohammad Ali</td>
                <td>xyz</td>
                <td>23/12/2021</td>
                <td>Dr.Ibrar</td>
                <td><img  class="actions" src="./static/register.png" alt="" data-toggle="tooltip" data-placement="top" title="Register">
                <img class="actions1" src="./static/edit.png" alt="" data-toggle="tooltip" data-placement="top" title="Edit">
                </td>

            </tr>
        <tr>
                <td>Free</td>
                <td>Mohammad Ali</td>
                <td>xyz</td>
                <td>23/12/2021</td>
                <td>Dr.Ibrar</td>
                <td>Dr.Ibrar</td>
                <td>Free</td>
                <td>Mohammad Ali</td>
                <td>xyz</td>
                <td>23/12/2021</td>
                <td>Dr.Ibrar</td>
                <td><img  class="actions" src="./static/register.png" alt="" data-toggle="tooltip" data-placement="top" title="Register">
                <img class="actions1" src="./static/edit.png" alt="" data-toggle="tooltip" data-placement="top" title="Edit">
                </td>

            </tr>

        </tbody>
    </table>



</div>

    </div>
  
{% endblock %}